[submodule "libsuperderpy"]
	path = libsuperderpy
	url = ../../dos1/libsuperderpy.git
[submodule "utils"]
	path = utils
	url = ../../dos1/libsuperderpy-utils.git
[submodule "src/3rdparty/VelocityRaptor"]
	path = src/3rdparty/VelocityRaptor
	url = ../../dos1/VelocityRaptor.git
